body {
    font-family: "Atkinson Hyperlegible", monospace;
    color: #182C32;
    background-color: #D0D0D0;
    padding: 30px;
    margin: 20px;
}

h1 {
    font-weight: 900;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
}

p {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

img {
    height: 400px; width: 300px; 
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column; 
}

a {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center; 
}

.images { 
    display: flex;
    flex-direction: column; 
    display: none;
}

.initial { 
    display: flex;
    flex-direction: column;
}

.buttons { 
    display: flex;
    justify-content: center;
    flex-direction: column;
} 

.links {
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-size: 30px;
}

.prev, .next, #pause-play-timer { /* added pause play and arrows*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #182C31;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 36px 0 0 36px;
  }

  .prev {
      left: 0;
      border-radius: 36px 0 0 36px;
  }

  #pause-play-timer { /* added */
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    }
      
.image-carousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
  }

